@font-face {
    font-family: 'Nougat';
    src: url('Nougat-ExtraBlack.eot');
    src: url('Nougat-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('Nougat-ExtraBlack.woff2') format('woff2'),
        url('Nougat-ExtraBlack.woff') format('woff'),
        url('Nougat-ExtraBlack.ttf') format('truetype'),
        url('Nougat-ExtraBlack.svg#Nougat-ExtraBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

